.custom-tree-node {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

.buttons {
    display: none;
    margin-right: 10px;
    gap: 10px;
}

.el-tree-node__content:hover .buttons {
    display: flex;
}

.button {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;

    position: fixed;
    top: 10%;
    left: -40px;

    height: 40px;
    width: 80px;

    border: none;
    outline: none;
    border-radius: var(--w-border-radius-sm);

    cursor: pointer;

    transition: all .2s;
}

.button:hover {
    left: -20px;
}

.button-img {
    height: 20px;
    width: 20px;

    background-color: var(--w-white);

    transition: background-color .2s;

    -webkit-mask-image: url('/public/icons/pencil-square.svg');
    mask-image: url('/public/icons/pencil-square.svg');
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
}

.img {
    height: 20px;
    width: 20px;

    transition: all .2s;

    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
}

.img:hover {
    opacity: .8;
}

.img-folder-plus {
    background-color: var(--w-primary);
    -webkit-mask-image: url('/public/icons/folder-plus.svg');
    mask-image: url('/public/icons/folder-plus.svg');
}

.img-document-plus {
    background-color: var(--w-success);
    -webkit-mask-image: url('/public/icons/document-plus.svg');
    mask-image: url('/public/icons/document-plus.svg');
}

.img-folder-minus {
    background-color: var(--w-danger);
    -webkit-mask-image: url('/public/icons/folder-minus.svg');
    mask-image: url('/public/icons/folder-minus.svg');
}
