.container {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.link {
    position: absolute;
    z-index: 10;
    margin: 15px;
}

.home-img {
    height: 20px;
    width: 20px;

    background-color: var(--w-gray-1);

    transition: background-color .2s;

    -webkit-mask-image: url('/public/icons/home.svg');
    mask-image: url('/public/icons/home.svg');
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
}

.auth-button {
    position: fixed;
    top: 20px;
    right: 20px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    height: 100vh;
    width: 100vw;

    overflow: hidden;
}
