.container {
    position: relative;

    height: 85vh;
    max-width: 70vw;

    padding: var(--w-indent-xxl);
    margin: 0 auto;

    overflow: auto;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    top: 50px;
    right: 20px;

    gap: 15px;
}

.delete-img {
    height: 20px;
    width: 20px;

    background-color: var(--w-red-1);

    transition: background-color .2s;

    -webkit-mask-image: url('/public/icons/trash.svg');
    mask-image: url('/public/icons/trash.svg');
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
}

.save-img {
    height: 20px;
    width: 20px;

    background-color: var(--w-green-1);

    transition: background-color .2s;

    -webkit-mask-image: url('/public/icons/checked.svg');
    mask-image: url('/public/icons/checked.svg');
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
}
