.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.button {
    width: 100%;
}

.button-change-password {
    justify-content: right;
    width: 100%;
}
